@font-face{
    font-family: Faster;
    src: url(fonts/FasterOne-Regular.ttf)
}

@font-face{
    font-family: JAY-Z;
    src: url(fonts/CarterOne-Regular.ttf)
}

@font-face{
    font-family: KNEW;
    src: url(fonts/Knewave-Regular.ttf)
}

@font-face{
    font-family: Roboto;
    src: url(fonts/Roboto-Black.ttf)
}



/* body { */
    /* background-image: url('images/Copy\ of\ Untitled.png'); */
/* } */

div {
    font-family: Faster;
    background-color: white;
    color: black;
    font-size: 25px;
    padding: 10px;
    
    
}

.wqe{
    font-family: Roboto;
}

.submit{
    font-family: Roboto;
    font-size: 16px;
}


/* .containersignin{ */
    



.text{
    font-family: Roboto;
    color: white;
    background-color:#ebb3b0;
    font-size: 14px;
    margin-top: 40px;
    border: 3px solid black;
    margin-bottom: 25px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.15s background-color, 0.15s font-size;
}


.col-md-12{
    font-family: Roboto;
    font-size: 20px;
}

.col-md-6{
    font-family: Roboto;
    font-size: 20px;
}



.text:hover{
    /* background-color: pink; */
    background-color: #ebb3b0;
    opacity: 1;
    font-size: larger;
}







#koro_div {
    display: flex;
    /* margin-left: 12px; */
    justify-content: flex-start;
    align-items: center;
    border: 3px solid black;
    
 }
 
 
 
 .focus_three{
     
        margin-left: 50px;
        background-color: #fd8888; 
        border-top: black; 
        margin-right: 55px;
        border: 2px solid black;
        font-size: 15px;
        color: black;
        text-align: center;
        width: 100px;
}

 
.focus_five{
     
    /* margin-left: 50px; */
    /* background-color: #fd8888;  */
    border-top: black; 
    /* margin-right: 50px; */
    /* border: 2px solid black; */
    font-size: 46px;
    color: black;
    /* text-align: center; */
    font-family: Roboto;
    /* width: 100px; */
}


.focus_twelve{
     
    /* margin-left: 50px; */
    /* background-color: #fd8888;  */
    border-top: black; 
    /* margin-right: 50px; */
    /* border: 2px solid black; */
    font-size: 36.5px;
    color: black;
    /* text-align: center; */
    font-family: Roboto;
    /* width: 100px; */
}

.focus_nine{
     
        /* margin-left: 50px; */
        /* background-color: #fd8888;  */
        border-top: black; 
        /* margin-right: 50px; */
        /* border: 2px solid black; */
        font-size: 12px;
        color: black;
        /* text-align: center; */
        font-family: Roboto;
        /* width: 100px; */

}

.focus_six{
     
    /* margin-left: 50px; */
    /* background-color: #fd8888;  */
    border-top: black; 
    /* margin-right: 50px; */
    /* border: 2px solid black; */
    font-size: 22px;
    color: black;
    /* text-align: center; */
    font-family: Roboto;
    /* width: 100px; */
}


.focus_sixteen{

    display: inline-block;
    /* margin-left: 50px; */
    /* background-color: #fd8888;  */
    border-top: black; 
    /* margin-right: 50px; */
    /* border: 2px solid black; */
    font-size: 22px;
    color: black;
    /* text-align: center; */
    font-family: Roboto;
    /* width: 100px; */
    /* margin-left: 50px; */
    /* float: right;     */
}

#logo{
    width: 300px;
    height: auto;
}

.fifteen{
     
    /* margin-left: 50px; */
    /* background-color: #fd8888;  */
    border-top: black; 
    /* margin-right: 50px; */
    /* border: 2px solid black; */
    font-size: 20px;
    color: black;
    /* text-align: center; */
    font-family: Roboto;
    /* width: 100px; */
}




hr{
    color: black;
}

 

.four{
     
    margin-left: 50px;
    margin-right: 50px;
    background-color: #fd8888; 
    border-top: black; 
    /* margin-right: 50px; */
    border: 2px solid black;
    font-size: 10px;
    color: black;
    text-align: center;
    width: 100px;
}


img {
    width: 400px;
    height: 70px;
   
}

.text{
    font-family: Roboto;
    color: white;
    background-color:#ebb3b0;
    font-size: 14px;
    border: 3px solid black;
   
}

.fire{
    font-family: Roboto;
    color: black;
    background-color: #ebb3b0;
    border: 3px solid black;
    font-size: 14px;
   
   
}

.txet{
    font-family: Roboto;
    color: black;
    background-color:#80b3ff;
    font-size: 14px;
    border: 3px solid black;
   
}

.dropdown-item{
    /* background-color: white;  */
    border-top: black; 
    color: black;
    margin-right: 110px;
    /* border: 2px solid black; */
    font-size: 14px;
    color: black;
    ;
  }

#dropdownMenuButton1{
    background-color: #80b3ff; 
    border-top: black; 
    margin-right: 30px;
    border: 2px solid black;
    font-size: 14px;
    color: black;
    width: 120px;
    height: 42.5px;
    padding: 0px;
}


 
  .logout {
      background-color: white;
      border: 5px solid black;
      position: absolute;
      top: 50vh;
      left: 50vw;
      transform: translate(-50%,-50%);
      display: none;
}

.two-buttons button {
    margin-top: 20px;
    background-color: #80b3ff;
    margin-left: 12px;
    /* display: flex; */
    justify-content: flex-start;
    align-items: center;
    border: 3px solid black;
    /* padding: 10px; */
    /* background-color:#80b3ff; */
    /* display: flex; */
    /* justify-content: 10px; */
    /* width: 10px; */
}

.logout h6{
    margin-bottom: 2px;
}

.rhe{
    font-family: Roboto;
    font-size: 12px;
}

.information {
    font-size: 18px;
    margin-left: 10px;
}